:root {
  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);
  --black-white: oklch(0% 0 0);
  --white-black: oklch(100% 0 0);
  --background-01: oklch(100% 0 0);
  --background-02: oklch(98.51% 0 0);

  --gray-01: oklch(98.51% 0 0);
  --gray-02: oklch(94.01% 0 0);
  --gray-03: oklch(92.49% 0);
  --gray-04: oklch(94.01% 0 0);
  --gray-05: oklch(83.59% 0 0);
  --gray-06: oklch(73.16% 0 0);
  --gray-07: oklch(65% 0 0);
  --gray-08: oklch(58.97% 0 0);
  --gray-09: oklch(51.03% 0 0);
  --gray-10: oklch(20.46% 0 0);

  --gray-alpha-01: oklch(0% 0 0 / 5.1%);
  --gray-alpha-02: oklch(0% 0 0 / 7.84%);
  --gray-alpha-03: oklch(0% 0 0 / 10.2%);
  --gray-alpha-04: oklch(0% 0 0 / 7.84%);
  --gray-alpha-05: oklch(0% 0 0 / 21.18%);
  --gray-alpha-06: oklch(0% 0 0 / 34.12%);
  --gray-alpha-07: oklch(0% 0 0 / 43.92%);
  --gray-alpha-08: oklch(0% 0 0 / 50.98%);
  --gray-alpha-09: oklch(0% 0 0 / 61.18%);
  --gray-alpha-10: oklch(0% 0 0 / 90.98%);

  --blue-01: oklch(97.32% 0.013053 251.5574);
  --blue-02: oklch(96.56% 0.0171 248.01);
  --blue-03: oklch(94.77% 0.0265 246.34);
  --blue-04: oklch(91.38% 0.044 247.26);
  --blue-05: oklch(83.22% 0.0885 246.95);
  --blue-06: oklch(73.04% 0.147 247.93);
  --blue-07: oklch(57.87% 0.2146 258.04);
  --blue-08: oklch(51.72% 0.188273 257.6085);
  --blue-09: oklch(53.39% 0.187486 256.7314);
  --blue-10: oklch(26.63% 0.0844 253.88);

  --red-01: oklch(96.69% 0.0162 17.44);
  --red-02: oklch(95.6% 0.0218 17.54);
  --red-03: oklch(94.52% 0.0274 17.65);
  --red-04: oklch(91.33% 0.0414 17.93);
  --red-05: oklch(84.34% 0.0733 18.72);
  --red-06: oklch(71.28% 0.1646 20.82);
  --red-07: oklch(62.56% 0.1933 23.03);
  --red-08: oklch(58.11% 0.2061 24.99);
  --red-09: oklch(54.99% 0.1962 25.29);
  --red-10: oklch(25.01% 0.0589 17.42);

  --amber-01: oklch(97.59% 0.0232 82.12);
  --amber-02: oklch(96.81% 0.0409 90.24);
  --amber-03: oklch(95.73% 0.048 88.81);
  --amber-04: oklch(90.91% 0.1038 86.82);
  --amber-06: oklch(80.43% 0.1425 74.24);
  --amber-07: oklch(81.69% 0.1639 75.84);
  --amber-08: oklch(77.21% 0.1727 64.17);
  --amber-09: oklch(52.79% 0.131261 54.6498);
  --amber-10: oklch(30.65% 0.077 44.27);

  --green-01: oklch(97.59% 0.0202 145.42);
  --green-02: oklch(96.99% 0.0253 145.38);
  --green-03: oklch(94.53% 0.0474 145.19);
  --green-04: oklch(91.68% 0.0719 145.56);
  --green-05: oklch(85.66% 0.1248 145.92);
  --green-06: oklch(79.96% 0.1721 145.37);
  --green-07: oklch(64.55% 0.1454 147.44);
  --green-08: oklch(57.77% 0.1309 147.68);
  --green-09: oklch(51.45% 0.1251 147.43);
  --green-10: oklch(28.85% 0.0444 147.61);

  --teal-01: oklch(97.99% 0.0152 181.79);
  --teal-02: oklch(96.86% 0.0226 183.19);
  --teal-03: oklch(94.92% 0.0374 182.07);
  --teal-04: oklch(92.76% 0.0562 183.78);
  --teal-05: oklch(87.11% 0.0978 181.74);
  --teal-06: oklch(81.53% 0.1312 179.53);
  --teal-07: oklch(64.91% 0.1136 181.96);
  --teal-08: oklch(57.53% 0.101 181.66);
  --teal-09: oklch(52.09% 0.0916 182.91);
  --teal-10: oklch(32.11% 0.0544 179.82);

  --purple-01: oklch(96.65% 0.022 312.19);
  --purple-02: oklch(96.81% 0.0191 312.8);
  --purple-03: oklch(94.63% 0.0295 312.13);
  --purple-04: oklch(91.69% 0.0429 311.46);
  --purple-05: oklch(81.35% 0.0961 309.87);
  --purple-06: oklch(72.07% 0.1493 308.19);
  --purple-07: oklch(55.56% 0.1829 305.86);
  --purple-08: oklch(48.46% 0.1684 305.23);
  --purple-09: oklch(47.11% 0.2208 304.07);
  --purple-10: oklch(24.07% 0.125 305.07);

  --pink-01: oklch(95.88% 0.0252 345.82);
  --pink-02: oklch(95.91% 0.021 355.21);
  --pink-03: oklch(93.86% 0.0297 353.86);
  --pink-04: oklch(91.06% 0.0403 356.43);
  --pink-05: oklch(84.38% 0.0747 357.36);
  --pink-06: oklch(74.3% 0.13 0.84);
  --pink-07: oklch(63.68% 0.2131 1.2);
  --pink-08: oklch(59.59% 0.2198 3.92);
  --pink-09: oklch(53.45% 0.1882 2.26);
  --pink-10: oklch(26% 0.0887 359);
}

.dark {
  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);
  --black-white: oklch(100% 0 0);
  --white-black: oklch(0% 0 0);
  --background-01: oklch(14.48% 0 0);
  --background-02: oklch(0% 0 0);

  --gray-01: oklch(21.78% 0 0);
  --gray-02: oklch(23.93% 0 0);
  --gray-03: oklch(28.09% 0 0);
  --gray-04: oklch(30.12% 0 0);
  --gray-05: oklch(39.04% 0 0);
  --gray-06: oklch(62.34% 0 0);
  --gray-07: oklch(65% 0 0);
  --gray-08: oklch(58.97% 0 0);
  --gray-09: oklch(70.9% 0 0);
  --gray-10: oklch(94.61% 0 0);

  --gray-alpha-01: oklch(100% 0 0 / 5.88%);
  --gray-alpha-02: oklch(100% 0 0 / 9.02%);
  --gray-alpha-03: oklch(100% 0 0 / 12.94%);
  --gray-alpha-04: oklch(100% 0 0 / 14.12%);
  --gray-alpha-05: oklch(100% 0 0 / 23.92%);
  --gray-alpha-06: oklch(100% 0 0 / 50.98%);
  --gray-alpha-07: oklch(100% 0 0 / 54.12%);
  --gray-alpha-08: oklch(100% 0 0 / 47.06%);
  --gray-alpha-09: oklch(100% 0 0 / 61.18%);
  --gray-alpha-10: oklch(100% 0 0 / 92.16%);

  --blue-01: oklch(22.45% 0.0399 256.74);
  --blue-02: oklch(25.51% 0.0554 256.7);
  --blue-03: oklch(30.56% 0.0812 255.73);
  --blue-04: oklch(34.08% 0.0957 254.45);
  --blue-05: oklch(38.54% 0.1169 254.71);
  --blue-06: oklch(65.15% 0.191972 251.4696);
  --blue-07: oklch(57.87% 0.2146 258.04);
  --blue-08: oklch(51.72% 0.188273 257.608);
  --blue-09: oklch(71.73% 0.1522 251);
  --blue-10: oklch(96.75% 0.0168 242.42);

  --red-01: oklch(22.07% 0.038 17.87);
  --red-02: oklch(25.93% 0.06 19.02);
  --red-03: oklch(31.49% 0.0888 19.99);
  --red-04: oklch(35.25% 0.1044 22.01);
  --red-05: oklch(40.88% 0.1326 22.69);
  --red-06: oklch(62.56% 0.1933 23.03);
  --red-07: oklch(62.56% 0.1933 23.03);
  --red-08: oklch(58.02% 0.2043 24.84);
  --red-09: oklch(69.84% 0.1925 21.75);
  --red-10: oklch(95.79% 0.0197 9.78);

  --amber-01: oklch(22.61% 0.0479 74.25);
  --amber-02: oklch(24.93% 0.0555 65.91);
  --amber-03: oklch(32.34% 0.0732 63.83);
  --amber-04: oklch(35.74% 0.0786 67.65);
  --amber-05: oklch(41.55% 0.0886 67.75);
  --amber-06: oklch(75.05% 0.1553 74.44);
  --amber-07: oklch(81.69% 0.1639 75.84);
  --amber-08: oklch(77.21% 0.1727 64.17);
  --amber-09: oklch(77.23% 0.1622 73.3);
  --amber-10: oklch(96.67% 0.0324 85.48);

  --green-01: oklch(22.78% 0.0426 151.57);
  --green-02: oklch(27.08% 0.0549 150.65);
  --green-03: oklch(29.84% 0.0637 149.25);
  --green-04: oklch(34.39% 0.0905 147.78);
  --green-05: oklch(44.18% 0.1218 146.91);
  --green-06: oklch(58.1% 0.1647 146.62);
  --green-07: oklch(64.55% 0.1454 147.44);
  --green-08: oklch(57.77% 0.1309 147.68);
  --green-09: oklch(73.08% 0.1423 147.99);
  --green-10: oklch(96.74% 0.0322 152.47);

  --teal-01: oklch(22.05% 0.0354 179.12);
  --teal-02: oklch(25.06% 0.0403 178.76);
  --teal-03: oklch(31.48% 0.052 181.09);
  --teal-04: oklch(32.4% 0.0559 180.23);
  --teal-05: oklch(43.33% 0.0756 181.01);
  --teal-06: oklch(60.68% 0.1085 179.49);
  --teal-07: oklch(64.91% 0.1136 181.96);
  --teal-08: oklch(57.53% 0.101 181.66);
  --teal-09: oklch(74.54% 0.1318 182.83);
  --teal-10: oklch(96.46% 0.0282 180.29);

  --purple-01: oklch(22.34% 0.041 316.87);
  --purple-02: oklch(25.71% 0.0621 313.99);
  --purple-03: oklch(31.77% 0.0938 312.11);
  --purple-04: oklch(35.86% 0.1136 310.29);
  --purple-05: oklch(41.01% 0.1425 307.12);
  --purple-06: oklch(55.56% 0.1829 305.86);
  --purple-07: oklch(55.56% 0.1829 305.86);
  --purple-08: oklch(48.46% 0.1684 305.23);
  --purple-09: oklch(69.87% 0.1782 309.51);
  --purple-10: oklch(95.9% 0.023 317.13);

  --pink-01: oklch(22.51% 0.0336 353.33);
  --pink-02: oklch(26.24% 0.0589 354.96);
  --pink-03: oklch(31.11% 0.0806 357.13);
  --pink-04: oklch(32.09% 0.0899 357.78);
  --pink-05: oklch(36.97% 0.1141 359.21);
  --pink-06: oklch(50.38% 0.1877 4.43);
  --pink-07: oklch(63.68% 0.2131 1.2);
  --pink-08: oklch(59.59% 0.2198 3.92);
  --pink-09: oklch(69.36% 0.1897 3.91);
  --pink-10: oklch(95.96% 0.0221 348.74);
}
