---
import Icon from "./Icon.astro";
---

<nav class="h-20 flex items-center justify-end w-full px-8">
	<div class="flex gap-4">
		<Icon
			name="github"
			width={24}
			height={24}
			fill="#737476"
			url="https://github.com/tencorvids"
		/>
		<Icon
			name="linkedin"
			width={24}
			height={24}
			fill="#737476"
			url="https://www.linkedin.com/in/andrewvota/"
		/>
		<Icon
			name="email"
			width={24}
			height={24}
			fill="#737476"
			url="mailto:rew@tencorvids.com"
		/>
	</div>
</nav>
