---
import "../styles/base.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tencorvids</title>
	</head>
	<body class="flex flex-col items-center min-h-screen">
		<Navigation />
		<main class="max-w-[680px] w-full flex flex-col gap-16 px-2">
			<slot />
		</main>
	</body>
</html>
